[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
jsonify = "*"
importlib-resources = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-cors = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.8"
